<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
    <th><b>David</b></th>
    <th>got the driver for the reader working and designed the HTML/CSS of the website.</th>
  </tr>
  <tr>
    <td><b>Joel</b></td>
    <td>encoded all of the tags with the required information.</td>
  </tr>
  <tr>
    <td><b>Ryan</b></td>
    <td>designed the blocks and cut/engraved them on the laser engraver.</td>
  </tr>
  <tr>
    <td><b>Noah</b></td>
    <td>designed the content of the website.</td>
  </tr>
</table>
