<iframe src="https://docs.google.com/document/d/e/2PACX-1vR_AX7-We3OoQam62vcrYkJhnklqoKrP2sBfWP16rdE-CG7cyNxtd7970vqHuJx7Av-uUoi73J9gg-I/pub?embedded=true" width="100%" height="500"></iframe>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vRyEmlVVZn5k6DSGknQ00JhkhNJc9nCl08tr-hwcU76xoNmK7H57O_8XYB1N9x8YC2Mnu12dKtMyFXT/pub?embedded=true" width="100%" height="500"></iframe>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRnRcHHROiETt7Pegxc9TJ_cP5nCZvliJI5J45VosLwToxce5mMYiTCwjAIx-Ft8I2vUgtcfQiFc7JM/pubhtml?widget=true&amp;headers=false" width="100%" height="500"></iframe>
