<footer class="site-footer">

  <div class="wrapper">
    <!--
    <h2 class="footer-heading">...</h2>
    -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          
          <li><h1>Contact me:</h1></li>
          
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
    
<!-- StatCounter Code -->
<script type="text/javascript">
var sc_project=11629199; 
var sc_invisible=1; 
var sc_security="4a8fae9e"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11629199/0/4a8fae9e/1/" alt="Web
Analytics"></a></div></noscript>
<!-- StatCounter Code -->
  </div>

</footer>
